# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.txt
*.log
*.d

# vim swap file
*.swap
# ctags
tags
# debug file
*.src
#global file
GPATH
GRTAGS
GTAGS

.*
i2c
